svg {
  width: 1.5em;
  height: 1.5em;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgb(90, 124, 147);
}
.dropdown {
  margin-left: 1rem;
  display: flex;
}
.p-dropdown {
  min-width: 20vw;
}
.navbar .p-button:hover {
  background-color: rgba(211, 230, 203, 0.238);
}
.p-overlaypanel .p-button:hover {
  background-color: rgba(211, 230, 203, 0.238);
}

.buttons {
  display: flex;
  margin-right: 1rem;
}

.buttons .p-button svg {
  width: 1.2em;
  height: 1.2em;
}

.downloadButton {
  display: flex;
  margin-left: 1rem;
}
.formatDownloadOverlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.formatDownloadButton {
  display: flex;
  & > .p-button {
    stroke-width: 0px;
    width: 100%;
    background-color: transparent;
  }
  & > .p-button-text {
    color: whitesmoke;
    text-align: left;
  }
  & > .p-button-icon {
    color: whitesmoke;
  }
}
.scenario-dropdown {
  margin-left: 1rem;
}
input[type="file"] {
  display: none;
}
.buttons {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}
.p-menuitem-content:hover {
  background-color: rgba(211, 230, 203, 0.238);
}
.p-menuitem .p-focus {
  background-color: rgba(211, 230, 203, 0.238);
}
